* {
  margin: 0;
}

body {
  background-image: url("./images/topography.svg"),
  linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 21.25em, auto;
  min-height: calc(100vh - 100px);
  background-attachment: fixed;
  letter-spacing: -1px;
}

