
.wrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-bottom: 20px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
}

.loadingStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat' sans-serif;
  color: #ffff;
}
